{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/gallery">Gallery</a>
        <a href="/contact">Contact Me</a>
    </nav>
    
    <h1>About Us</h1>

    <p>
    We are learning Django web development. This page is styled using external CSS and includes JavaScript functionality.
    </p>

    <br>

    <a id="back" href="/home">Go back Home</a>

    <script src="{% static 'home.js' %}"></script>

    <footer>
        <p>&copy; 2026 All Rights Reserved</p>
    </footer>
</body>
</html>