{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>

    <link rel="stylesheet" href="{% static 'contact.css' %}">

</head>

<body>

<nav>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Gallery</a>
    <a href="/contact">Contact Me</a>
    </nav>

<h1>Contact Me</h1>

<p id="para">If you like this gallery, feel free to contact me!</p>

<button id="contactBtn">Send Message</button>

<script src="{% static 'contact.js' %}"></script>

    <footer>
        <p>&copy; 2026 All Rights Reserved</p>
    </footer>

</body>
</html>